/*  GLOBAL  */
html {
    font-size: 10px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *:focus {
    outline: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  a {
    display: inline-block;
    background: transparent;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    width: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    background-color: aliceblue;
  }
  
  .container {
    max-width: 140rem;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .header {
    font-size: 3.5rem;
    padding: 2rem 0;
    color: #61dafb;
    margin-bottom: 5rem;
  }
  .page {
    font-size: 3rem;
  }
  